  <div>
  <!-- Calendar -->
  <div>
    <h2> available times
    <span ng-hide="currentUser.id != user.id" ng-switch on="editMode" >
      <span ng-switch-when="true">
        <button ng-click="saveFreeTime()" class="btn">Save</button>   
      </span>
      <span ng-switch-default>
        <button ng-click="editFreeTimes()" class="btn">Edit</button>
      </span>
    </span>
    </h2>
      
    <table class="table">
      <tr ng-repeat="day in freeTimes">
          <td><h3>{{day.day}}: <input ng-hide="editMode ==false" ng-model="day.isAvailable" type="checkbox"></h3></td>
        <td><h4 ng-switch on="day.isAvailable">starts:
              <span ng-switch-when="true">
                <span ng-switch on="editMode">
                  <span ng-switch-when="true">
                    <input type="text" ng-model="day.start" bs-timepicker style="width: 60px;">
                  </span>
                  <span ng-switch-default>
                    {{day.start}}
                  </span>
                </span>
              </span> 
              <span ng-switch-default>
                -    
              </span>
            </h4>  
        </td>
        <td><h4 ng-hide="!day.isAvailable">ends:
          <span ng-switch on="editMode" >
              <span ng-switch-when="true">
                <input type="text" ng-model="day.end" bs-timepicker style="width: 60px;">
              </span>
              <span ng-switch-default>
                {{day.end}}
              </span>
           </span>

        </h4>
        </tr>
    </table>
  </div>

  </div>