<h2>Tell us in what time you might be available <button ng-click="saveFreeTime()" class="btn">Save</button></h2>
<!-- TODO Time zone -->
<table class="table">
	<tr ng-repeat="day in freeTimes">
	    <h3>
	    <td><h3>On {{day.day}}:</h3></td>
		<td><h4>Available: <input ng-model="day.isAvailable" type="checkbox"></h4></td>
		<td><h4 ng-hide="!day.isAvailable">
			starts: 		
		  <input type="text" ng-model="day.start" bs-timepicker>
		  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></buttoni>
		 </h4> 	
		</td>
		<td><h4 ng-hide="!day.isAvailable">
			ends: 
			<input type="text" ng-model="day.end" bs-timepicker>
		  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></buttoni>
		  	</h4>
		</td>
		</h3>
    </tr>
</table>


