<form id="tab">
    <label>Name</label>
    <input ng-model="user.name" type="text" value="" class="input-xlarge" placeholder="First and Last Name">
    <label>Email</label>
    <input ng-model="user.email" type="text" value="" class="input-xlarge" placeholder="First and Last Name">
    <label>I can..</label>
    <textarea ng-model="user.skills" value="Smith" rows="6" class="input-xlarge" placeholder="What skills do you have that you can teach, guide and help others in a 15 minutes 1:1 video session. e.g programming, design, business, law, finance"></textarea>
    <label>I want..</label>
    <textarea ng-model="user.iWant" value="Smith" rows="6" class="input-xlarge" placeholder="And now how can other help you, what you would like to learn, get help with in 1:1 video session, from people with the right knowladge."></textarea>
    <div>
      <button ng-click="saveUser()" class="btn btn-primary">Save</button>
    </div>
</form>