<form id="tab">
    <div class="row">
    <div class="span6">
        <label>Name</label>
        <input ng-model="user.name" type="text" value="" class="input-xlarge" placeholder="First and Last Name">
        
        <label>Email</label>
        <input ng-model="user.email" type="text" value="" class="input-xlarge" placeholder="Email">
        

        <label>Image Url</label>
        <input ng-model="user.img" type="text" value="" class="input-xlarge" placeholder="Image Url">
        

        <label>I can..</label>
        <textarea ng-model="user.canDO" value="Smith" rows="6" class="input-xlarge" placeholder="What skills do you have that you can teach, guide and help others in a 15 minutes 1:1 video session. e.g programming, design, business, law, finance"></textarea>
        
        <label>I want..</label>
        <textarea ng-model="user.iWant" value="Smith" rows="6" class="input-xlarge" placeholder="And now how can other help you, what you would like to learn, get help with in 1:1 video session, from people with the right knowladge."></textarea>

        <hr/>
        <h1>TODO(danny): Now this is field I don't like that much</h1> 

        <label>Company image Url</label>
        <input ng-model="user.companyImg" type="text" value="" class="input-xlarge" placeholder="Image Url">
        

        <label>Company</label>
        <input ng-model="user.company" type="text" value="" class="input-xlarge" placeholder="Company name">
        <label>Time Available</label>
        <input ng-model="user.time" type="text" value="" class="input-xlarge" placeholder="time?">
        
        <label>Skills</label>
        <textarea ng-model="user.canDo" value="Smith" rows="6" class="input-xlarge" placeholder="Skills"></textarea>

        <label>Love</label>
        <textarea ng-model="user.love" value="Smith" rows="6" class="input-xlarge" placeholder="Love?"></textarea>
        <label>Ideas</label>
        <textarea ng-model="user.iWant" value="Smith" rows="6" class="input-xlarge" placeholder="\"></textarea>


        <div>
          <button ng-click="saveUser()" class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="span6">
        <img src="{{user.img}}">
        <img src="{{user.companyImg}}">
    </div>
    </div>
</form>