 <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41565562-1', 'getbadgers.com');
ga('send', 'pageview');
</script>

 <!-- Main hero unit for a primary marketing message or call to action -->
<section id="slider">
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
                <a href="/"><img src="demo/slider/large/updatedhero.png" alt="image06"/></a>
        </ul>
    </div><!-- ei-slider -->
</section>
<!--<hr/>-->
<div class="row">
    <div class="span12 first-orange">
        <div class="page-header">
            <h2 class="title-center"><span class="white">Our</span> Mission</h2>
                <p id="mission">
                Do what you are great at and leave your wallet home.  Through our platform you earn Badgers, which are 15 minute units of time by helping out others.  You can then spend your Badgers on anything that would make you a more productive, happier, and overall better person.  Apply for an invite below.
                </p>
                <div class="row">
                    <div class="span12">
                        <form class="form-inline title-center" id="form-one">
                            <input type="text" class="input-small" placeholder="First Name">
                            <input type="text" class="input-small" placeholder="Last Name">
                            <input type="text" class="input-large" placeholder="Email">
                            <button type="button" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h2 class="title-center"><span class="orange">Featured</span> People</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            <div ng-repeat="userGroup in userGroupsToView" class="row">
            <li ng-repeat="user in userGroup" class="span{{user.spanSize}}">
                <div class="thumbnail">
                    <a href="#/detail/{{user.id}}" >
                    <img alt="http://placehold.it/{{user.imgWidth}}x{{user.imgHeight}}"
                     src="https://i.embed.ly/1/display/resize?key=dc65793b3f1249bdb9952a491874d27e&url={{user.img}}&width={{user.imgWidth}}&height={{user.imgHeight}}&grow=true"></a>
                    <div class="caption">
                        <p><span class="name">{{user.name}}<span>:</span></span>{{user.skills}}</p>
                        <h4>{{user.canDO}}</h4>
                        <p><span class="rating-static rating-45"></span></p>
                        <!--<p><a class="btn btn-primary" href="#/detail/{{user.id}}"><i class="icon-shopping-cart icon-white"></i> Request</a> <a class="btn pull-right" href="#/detail/{{user.id}}">more...</a></p>-->
                    </div>
                </div>
            </li>
            </div>
        </ul>
    </div>
</div>
 <!-- / main container -->

