<div class="modal-body">
	<button ng-click="loginAndClose()" class="btn-large btn btn-facebook"><i class="icon-facebook"></i> | Connect with Facebook</button>
	OR
   		<form>
   			Email <input ng-model="userLogin.email" type="text" placeholder="your@email.com"><br/>
   			Password <input ng-model="userLogin.password" type="password" placeholder="your@email.com"><br/>
   			<a class="btn btn-success" ng-click="handleEmailLogin()">Login</a>
   			<div ng-show="errorMessage" class="alert alert-error">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            <strong>Access Denied!</strong> {{errorMessage}}
            </div>
   		</form>
    </div>      
</div>


