<div class="container">
        	<div class="row-fluid">
            	<div class="span12">

                    <div class="span6">
                        <div class="area">
                            <form class="form-horizontal">
                                <div class="heading">
                                    <h4 class="form-heading">Sign In/Up</h4>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputUsername">Email</label>
                                    <div class="controls">
                                        <input ng-model="user.email" type="text" id="inputUsername" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input ng-model="user.password" type="password" id="inputPassword" placeholder="Min. 8 Characters">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button ng-click="signin()" type="submit" class="btn btn-success">Sign In</button>
                                        <button ng-click="signup()" type="submit" class="btn btn-success">Sign Up</button>
                                    </div>
                                </div>
                            </form> 
                        </div>                           
                    </div>
                    <div class="span6">
                        <h1>OR</h1>
                        <button class="btn-primary btn" ng-click="facebookLogin()">Login with Facebook</button>
                        <button class="btn-primary btn" ng-click="logOut()">Logout</button>                        
                    </div>
                </div>
            </div>
        </div>