<div class="row-fluid"> 
  <div class="offset2 span6">
  <u><h3>Messages</h3></u>

<div class="row-fluid well" ng-repeat="meeting in meetings">
	<div class="span3">
	<profile user="meeting.teacher"/>
	<profile user="meeting.student"/>
	</div>
	<div class="span8">
	<br/>
	<p ng-show="meeting.text">{{meeting.speaker.name}} : {{meeting.text}}</p>
    <p ng-show="meeting.day">Date: {{meeting.day | date:'fullDate'}}</p>
    <p ng-show="meeting.time">Time: {{meeting.time}}</p>

	status:
	<span ng-switch on="meeting.status" >
    <span ng-switch-when="APPROVED">Approve!</span>
        <span ng-switch-when="REJECT">Rejected</span>
        <span ng-switch-when="DONE">Meeting is finish :)</span>
        <!-- Not Approved yet: -->
        <span ng-switch-default>
        	<span ng-switch on="meeting.teacher.id == currentUser.id" >
        	  <span ng-switch-when="true">
        	  	<br/>
        	   <button ng-click="approve(meeting.id)" >Click To Approve</button>
				<button ng-click="reject(meeting.id)" >Click To REJECT</button>
        	  </span>
        	  <span ng-switch-default> Not Apporved yet.</span>
        	</span>
        </span>
    </span>
    <p><a href="/#/meeting/{{meeting.teacher.id}}/{{meeting.student.id}}">See meeting page</a></p>
	</div>
</div>
</div>
