<div class="span5">
	<u><h3>Meeting Page</h3></u>
	<profile user="user1"/> <b>+</b>
	<profile user="user2"/>

	<hr/>
	<h3>Start the video chat in 3 steps:</h3>
	<ol>
	<li>
		Copy your emails: <u>{{user1.email}}</u> <u>{{user2.email}}</u> </li>
	<li>
		Start the hangout
		<a href="https://plus.google.com/hangouts/_?gid=1033174975819" style="text-decoration:none;">
		  <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-15x79-normal.png"
		    alt="Start a Hangout"
		    style="border:0;width:79px;height:15px;"/>
		</a>
    </li>
	<li>
		Paste your partner email in the 'Add People'.	
	</li>
</div>
<div class="span5">
	<h3>Chat between {{user1.name}} and {{user2.name}}:</h3>
	<form class="well">
		<profile user="currentUser"/>
		<input type="text" ng-model="newItem.text">
		<input ng-click="addNew()" class="btn btn-success" type="submit" value="Post">
	</form>

	<div class="well" ng-repeat="item in items">
		<div class="span1"><profile user="item.user"/></div>
		 <h3>{{item.text}}</h3>
	</div>
</div>