<div class="span5">
	<u><h3>Meeting Page</h3></u>
	<profile user="user1"/> <b>+</b>
	<profile user="user2"/>

	<hr/>
	<h3>Start Video:</h3>
	<ul>
		<li>Use Chrome!</li>
		<li>See the gray allow on the top of the page!</li>
		<li>Boom!</li>
	</ul>	
	Your partner:
	<div id="stream"></div>
	<hr/>
	You:
	<div id="publisher"></div>	

	
</div>
<div class="span5">
	<h3>Chat between {{user1.name}} and {{user2.name}}:</h3>
	<form class="well">
		<profile user="currentUser"/>
		<input type="text" ng-model="newItem.text">
		<input ng-click="addNew()" class="btn btn-success" type="submit" value="Send message">
	</form>

	<div class="well" ng-repeat="item in items">
		<div class="span1"><profile user="item.user"/></div>
		 <h3>{{item.text}}</h3>
	</div>
</div>