
<img src="{{viewedUser.img}}"/><br/>
Sessions:
<!--  New Session -->
<hr>
<form novalidate class="simple-form">
	Request Message: <input type="text" ng-model="newSession.request" /><br />
    Date : <input type="text" ng-model="newSession.date" /><br />
    Time : <input type="text" ng-model="newSession.time" /><br />
	<button ng-click="addNewSession()">Sent Request</button>
</form>
<hr>
<!-- Sessions -->
<ul>
	<li ng-repeat="session in sessions | filter:onlyViewed">
		<img src="https://i.embed.ly/1/display/resize?key=dc65793b3f1249bdb9952a491874d27e&url={{session.student.img}}&width=50&height=50&grow=true"/>
		Requester: {{session.student.name}}.
		Date: {{session.date}}
		Time: {{session.time}}
		Request: {{session.request}}
		<!-- Status -->
		Status:
		<span ng-switch on="session.status" >
	        <span ng-switch-when="APPROVED">Approved</span>
	        <span ng-switch-when="REJECT">Rejected</span>
	        <span ng-switch-when="DONE">Done</span>
	        <!-- Not Approved yet: -->
	        <span ng-switch-default>
	        	<span ng-switch on="viewedUser.id == currentUser.id" >
	        	  <span ng-switch-when="true">
	        	   <button ng-click="approve(session)" >Approve</button>
					<button ng-click="reject(session)" >REJECT</button>
	        	  </span>
	        	  <span ng-switch-default>Waiting for approval...</span>
	        	</span>
	        </span>
	    </span>
	</li>
</ul>

    <!-- Messages -->
    <ul>
    	<li ng-repeat="message in session.messages">
    		{{message.sender.img}} {{massage.text}}		
    	</li>
    </ul>
    

        

<!-- TODO: -->
<!-- Is online -->
<!-- Calendar -->
<!-- Start session. -->
