<div>
	<h2>Find out how can people help you and how you might help them</h2>
	<form class="well">
		<profile user="currentUser"/>

		<input size="350" type="text" ng-model="newItem.text" style="width: 800px;"><br/><br/>
		<input ng-click="addNew()" class="btn btn-primary" type="submit" value="Add">
	</form>
	<!-- <ul ng-animate="'slide'"> -->
		<div ng-animate="'slide'" ng-cloak ng-repeat="item in items">
			<div class="row-fluid well">
				<span class="row">
				<profile user="item.user"/><h3>{{item.text}}</h3>
				</span>
				<span class="row">
					<a class="btn-min btn btn-success" href="/#/detail/{{item.user.id}}">Lets Talk</a>
				</span>
			</div>
		</div>
	<!-- </ul> -->
</div>