<div class="row">
<div class=" offset2 span7">
	<div>
	<form class=" row-fluid well">
		<h2>Request anything</h2>
		<h3><profile user="currentUser"/>
		Request: <input  type="text" ng-model="newItem.text" autofocus="autofocus" style="width: 400px;">
		<input ng-click="addNew()" class="btn btn-primary" type="submit" value="post"></h3>
	</form>
	<!-- <ul ng-animate="'slide'"> -->
	<div ng-cloak ng-repeat="item in items">
		<div class="row-fluid well">
			<span class="row">
			<h3><profile user="item.user"/> Request:
			{{item.text}}
			<a class="btn-min btn btn-success" href="/#/detail/{{item.user.id}}">Lets Talk</a></h3>
			</span>
		</div>
	</div>
	<!-- </ul> -->
	</div>
</div>
<div class="span5">
</div>
</div>