<input type="text" ng-model="datepicker.date" data-date-format="dd/mm/yyyy" bs-datepicker>
<a ng-click="click()">C</a>
<select ng-model="time">
		<option>6:00 PM</option>
		<option>6:15 PM</option>
		<option>6:30 PM</option>
		<option>6:45 PM</option>
		<option>7:00 PM</option>
		<option>7:15 PM</option>
		<option>7:30 PM</option>
		<option>7:45 PM</option>
		<option>8:00 PM</option>
		<option>8:15 PM</option>
		<option>8:30 PM</option>
		<option>8:45 PM</option>
		<option>9:00 PM</option>
		<option>9:15 PM</option>
		<option>9:30 PM</option>
		<option>9:45 PM</option>
	</select><br/>