<!-- Button to trigger modal -->

<a type="button" class="btn" bs-modal="'template2.html'">...</a>
<a type="button" class="btn" ng-click="click()">Click</a>

<!-- <div ui-calendar> -->


<div class="control-group input-append">
  <input type="text" ng-model="datepicker.date" data-date-format="dd/mm/yyyy" bs-datepicker>
  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
</div>

<div class="control-group input-append">
  <input type="text" ng-model="timepicker.time" bs-timepicker>
  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
</div>

<div ui-calendar="calendarConfig" ng-model="eventSources">





<script type="text/ng-template" id="template2.html">		
<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Modal header</h3>
</div>
<div class="modal-body">
  <p>{{modal.content}}</p>
  <br />
  <pre>2 + 3 = {{ 2 + 3 }}</pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
  <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Save changes</button>
</div>

</script>

