<div class="row"> 
  <div class="offset3">
  <u><h1>Find people that can help you</h1></u>
  Search: <input  ng-model="global.search" type="text">
  </div>
</div>
  
<ul class="thumbnails">
<li  class="span6 clearfix" ng-repeat="user in users | filter:global.search">
  <div class="thumbnail clearfix">
    <a href="/#/detail/{{user.id}}">
    <img src="http://i.embed.ly/1/image/crop?url={{user.img}}&amp;key=92b31102528511e1a2ec4040d3dc5c07&amp;width=200&amp;height=200" alt="?" class="pull-left span2 clearfix" style='margin-right:10px'></a>
    <div class="caption" class="pull-left">
      <a href="/#/detail/{{user.id}}" class="btn btn-primary icon  pull-right">Request</a>
      <h4>      
      <h3 href="/#/detail/{{user.id}}" >{{user.name}}</h3>
      </h4>
      <p>{{user.skills}}</p>
    </div>
  </div>
</li>
  
  
</ul>