<!doctype html>
<html lang="en" >
<head>
  <title>Admin</title>
  <script src="components/angular/angular.js"></script>
  <script src="js/firebase.js"></script>
  <script src="components/angular-fire/angularFire.js"></script>
  <script src="js/controllers/usersCtrl.js"></script>
</head>
<body ng-app="mainApp" ng-controller="UserCtrl">

  // TEMP, this will be replace by edit page soon.


      Company:   Google
Skills:  Machine Learning, data visulaization, Node JS, Python, Management, goal oriented thinking, Data Analytics, brainstorming, task prioritization
Time Available:  5 Badgers
Each Badger is a 15 minute time block
      
  <form>
    <input ng-model="newUser.id" placeholder="ID">
    <input ng-model="newUser.name" placeholder="Name">
    <input ng-model="newUser.email" placeholder="Email">
    <input ng-model="newUser.company" placeholder="Company">
    <textarea ng-model="newUser.skills" placeholder="Skills"></textarea>
    <textarea ng-model="newUser.time" placeholder="Time Available"></textarea>
    <textarea ng-model="newUser.love" placeholder="What I Love"></textarea>
    <textarea ng-model="newUser.ideas" placeholder="Ideas"></textarea>
    <textarea ng-model="newUser.canDo" placeholder="What I can do"></textarea>

    <input ng-model="newUser.img" placeholder="Image">
    <img src="{{newUser.img}}">

    <input ng-model="newUser.companyImg" placeholder="Company Image">
    <img src="{{newUser.companyImg}}">

    <button ng-click="saveNewUser(newUser)">Add</button>

  </form>

  <div ng-cloak ng-repeat="user in users">
      ID:{{user.id}}, 
      Name:{{user.name}}, 
      Email:{{user.email}},
      Company:   {{user.company}}
      Skills:  {{user.skills}}
      Time Available:  {{user.time}}
      Love:  {{user.love}}
      Ideas:  {{user.ideas}}
      What I can Do:  {{user.canDO}}
    <img src="{{user.img}}">
    <img src="{{user.companyImg}}">
    <hr>
  </div>

</body>
</html>
